:root {
    --ff-base: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
    --fs-300: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
    --fs-400: clamp(1.2rem, 1.0946rem + 0.4498vw, 1.4994rem);
    --fs-500: clamp(1.44rem, 1.2433rem + 0.8394vw, 1.9988rem);
    --fs-600: clamp(1.7281rem, 1.3985rem + 1.4066vw, 2.6644rem);
    --fs-700: clamp(2.0738rem, 1.5533rem + 2.2207vw, 3.5519rem);
    --fs-800: clamp(2.4881rem, 1.697rem + 3.3756vw, 4.735rem);
    --clr-text: hsl(204, 100%, 1%);
    --clr-body: hsl(204, 20%, 10%);
    --clr-primary: hsl(269, 62%, 47%);
    --clr-accent: hsl(89, 85%, 33%);
    --clr-surface: hsl(0, 0, 100%);
    --clr-secondary: hsl(258, 79%, 34%);
    --glow-rgb: 117 46 194;
}
body {
    font-size: var(--fs-400);
    font-family: var(--ff-base);
    color: var(--clr-body);
    line-height: 1.6;
    overflow-x: clip;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--clr-titles);
    text-wrap: balance;
}

h1 {
    font-size: var(--fs-800);
    --flow-space: 2em;
    cursor: default;
}

h2 {
    font-size: var(--fs-600);
    --flow-space: 1.5em;
    color: var(--clr-primary);
}

h3 {
    font-size: var(--fs-500);
    color: var(--clr-text);
}

h4 {
    font-size: var(--fs-400);
}

::marker {
    color: var(--clr-accent);
}

a {
    color: var(--clr-primary);
}

a:hover, a:focus {
    color: var(--clr-secondary);
}

html {
    color-scheme: light dark;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    font-style: italic;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.hero {
    display: grid;
    place-content: center;
    color: white;
    background: linear-gradient(145deg, var(--clr-primary), var(--clr-secondary));
    min-height: 70svh;
}

.details-link{
    color: inherit;
    text-decoration: none;
}

::marker {
    color: var(--clr-accent);
}

.wrapper {
    width: min(100% - 3rem, 65rem);
    margin-inline: auto;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

.layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 240px;
}

.call-to-action {
    max-height: 4em;
    padding: 0.875em;
    margin-inline: auto;
    background: var(--clr-primary);
    font-size: var(--fs-500);
    color: white;
}

.call-to-action:hover {
    background: var(--clr-secondary);
    transition: 0.5s ease-in-out;
}

.call-to-action:visited {
    color: white;
}

.glow-point {
    position: absolute;
    box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
    pointer-events: none;
    opacity: 0.5;
}   

.star {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 1rem;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes fall-1 {
    0% {
        transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
        opacity: 0;
    }

    5% {
        transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
        opacity: 0;
    }
}

@keyframes fall-2 {
    0% {
        transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
        opacity: 0;
    }

    10% {
        transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
        opacity: 0;
    }
}

@keyframes fall-3 {
    0% {
        transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
        opacity: 0;
    }

    15% {
        transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
        opacity: 0;
    }
}

.main-footer {
    padding-block: 0.5em;
    text-align: center;
}

.fixed-image-container img {
    --background-img-brightness: 0.45;
    --background-img-saturate: 1.25;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* decrease brightness to improve text contrast */
    filter: brightness(var(--background-img-brightness)) saturate(var(--background-img-saturate));
    position: absolute;
}

.smol-background-picture__content {
    /* ensure stacking context above the picture */
    position: relative;
    align-self: center;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.cool-text {
    font-weight: bold;
    width: fit-content;
    margin-inline: auto;
    font-style: italic;
    padding: 1em;
    background-color: #FFF;
    color: #4d3838;
    border: 5px solid #473a3a; /* Add a border */
    border-radius: 0.5rem;
    animation: bounce 1s infinite alternate; /* Apply the bounce animation */
}

@keyframes bounce {
    from {
        transform: translateY(0); /* Start position */
    }

    to {
        transform: translateY(-20px); /* End position */
    }
}

.form-control {
    border: 4px solid #473a3a; /* Add a border */
}

.success {
    width: 46%;
    text-align: left;
    color: #4caf50;
    border: 4px solid #4caf50;
    border-radius: 10px;
    margin-left:-1em;
    padding-left:1em;
}

.grid-container {
    --min: 15ch;
    --gap: 1rem;
    display: grid;
    grid-gap: var(--gap);
    /* min() with 100% prevents overflow
  in extra narrow spaces */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}


/* Necessary if not already within a reset */
.fixed-image-container :is(img, picture) {
display: block;
}