:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

.hero{
    min-height: 50svh;
    display: grid;
    place-content: center;
    background: blue;
    color:white;
}

.wrapper {
    width: min(100% - 4rem, 85rem);
    margin-inline: auto;
}

.layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 240px;
}

.grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
  //  grid-auto-rows: 120px auto auto;
    position: relative;
}

.letter {
    padding: 1rem;
}