@model FutureMe.Models.Letter

@{
    ViewData["Title"] = "Details";
}

<h1 class="m-5 text-center">@Html.DisplayFor(model => model.Title)</h1>

<div class="wrapper flow">
    <p>@Html.DisplayFor(model => model.Content)</p>
    <div class="text-center">@Html.DisplayFor(model => model.WritingDate) =>  @Html.DisplayFor(model => model.SendingDate)</div>
</div>
