@model IEnumerable<FutureMe.Models.Letter>

@{
    ViewData["Title"] = "Index";
}
<div class="hero">
    <h1 class="text-center">Future Stories: Letters that Shape the Future</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class=" grid-container">
    <div class="grid wrapper">

@foreach (var item in Model) {
        <div class="letter">
            <p>@Html.DisplayFor(modelItem => item.WritingDate)</p>
            <h1 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h1>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>
        </div>
}
    </div>
