@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="wrapper mt-5 flow">
    <h1 class="text-center">@ViewData["Title"]</h1>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <div class="text-center mt-4">
            <form class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-primary">Click here to Logout</button>
            </form>
        </div>
    }
    else
    {
        <p class="text-center mt-4">You have successfully logged out of the application.</p>
        <div class="text-center">
            <a asp-page="./Login" class="btn btn-primary mt-2">Log in again</a>
        </div>
    }
</div>