@model FutureMe.Models.Letter

@{
    ViewData["Title"] = "Home Page";
}

<div class="fixed-image-container">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success text-center">
            @TempData["Success"]
        </div>
    }
    <img src="~/images/pic1.png" alt="Mirror">
    <section class="smol-background-picture__content">
        @using (Html.BeginForm("SaveLetter", "Home", FormMethod.Post, new { @class = "grid-container mt-5" }))
        {
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Letter Details Fieldset -->
            <fieldset class="flow">
                <legend class="mb-3">Compose Your Letter</legend>

                <div class="form-group">
                    <label asp-for="Title" class="form-label mt-4"></label>
                    <input asp-for="Title" class="form-control" placeholder="Title goes here..." />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Content" class="form-label mt-4"></label>
                    <textarea asp-for="Content" rows="10" class="form-control" placeholder="You'll thank yourself later for this... ♡"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </fieldset>

            <!-- Additional Details Fieldset -->
            <fieldset class="wrapper">
                <legend class="mb-3">One More Step to Go:</legend>

                <div class="form-group">
                    <label asp-for="Email" class="form-label mt-4"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter email" />
                    <small id="emailHelp" class="form-text text-muted">
                        Top Secret <i class="fa-solid fa-face-smile-wink"></i>
                    </small>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SendingDate" class="form-label mt-4"></label>
                    <input asp-for="SendingDate" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="SendingDate" class="text-danger"></span>
                </div>

                <fieldset class="form-group flow wrapper">
                    <legend class="mt-4">Visibility:</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsPublic" id="privateOption" value="false" />
                        <label class="form-check-label" for="privateOption">
                            Private
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="IsPublic" id="publicOption" value="true" />
                        <label class="form-check-label" for="publicOption">
                            Public
                        </label>
                    </div>
                    <span asp-validation-for="IsPublic" class="text-danger"></span>
                </fieldset>

                <button type="submit" class="btn btn-primary mt-4">Send</button>
                <div class="cool-text mt-5">
                    My Future, 2 Seconds Ago
                </div>
            </fieldset>
        }
    </section>
</div>