@{
    ViewData["Title"] = "Home Page";
}
@model FutureMe.Models.Letter


<div class="text-center">
    @if (TempData["Success"] != null)
    {
        <div class="success">
            @TempData["Success"]
        </div>
    }
    else
    {
        <div class="success" style="display:none">
        </div>
    }

    <div class="fixed-image-container">
        <img src="~/images/pic1.png" alt="Mirror">
        <section class="smol-background-picture__content">
            <form asp-action="saveLetter" class="grid-container  mt-5">
                <fieldset class="flow">
                    <input type="text" id="title" rows="1" cols="" placeholder="Title goes here..." class="titleField" asp-for="Title"/>
                    <textarea id="userText" rows="4" cols="50" placeholder="You'll thank yourself later for this... ♡ " class="user-input" asp-for="Content"></textarea>
                </fieldset>
                <fieldset class="wrapper">
                    <div>One More Step to Go:</div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" asp-for="Email">
                        <small id="emailHelp" class="form-text text-muted">Top Secret <i class="fa-solid fa-face-smile-wink"></i></small>
                    </div>
                    <div class="form-group">
                        <label for="date" class="form-label mt-4">Sent Now, Received:</label>
                        <input type="date" class="form-control" id="date" asp-for="SendingDate">
                    </div>
                    <br />
                    <fieldset class="form-group flow wrapper">
                        <div class="mt-4" style="font-size:large">You want this to be :</div>
                        <br />
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="optionsRadios" asp-for="IsPublic" id="optionsRadios1" value="false" checked="">
                            <label class="form-check-label" for="optionsRadios1">
                                Private
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="optionsRadios" asp-for="IsPublic" id="optionsRadios2" value="true">
                            <label class="form-check-label" for="optionsRadios2">
                                Public
                            </label>
                        </div>
                       
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Send</button>
                    <div class="cool-text mt-5">
                        My Future, 2 Seconds Ago
                    </div>
                </fieldset>
            </form>
        </section>
    </div>

</div>
